In [2]:
import pandas as pd

In [3]:
data = {
    'fulano': [12.5, 0.0, 13.8, -5.2],
    'cicrano': [7.5, 3.4, 0.0, 0.0]
}

In [4]:
pd.DataFrame(data)

   fulano  cicrano
0    12.5      7.5
1     0.0      3.4
2    13.8      0.0
3    -5.2      0.0